<div class="container">
  <h1>Registration</h1>
  <form action="/api/register" method="post" class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput type="email" placeholder="Email" name="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="User Name" name="username">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Password" name="password">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <button mat-stroked-button type="submit">Register</button>
    </mat-form-field>
  </form>
</div>
